* {
    margin: 0;
    padding: 0;
}

/* Desktop only */
@media screen and (min-width: 1081px) {
    body {
        font-family: "Trebuchet MS", Helvetica, sans-serif;
    }

    h4 {
        color: #e0e0e0;
        font-weight: lighter;
    }

    header {
        padding-top: 3px;
        width: 100%;
        background-color: rgb(65, 83, 59);
        text-align: center;
        border-bottom: 2px solid black;
    }

    footer {
        width: 100%;
        background-color: rgb(65, 83, 59);
        text-align: center;
        bottom: 0;
        left: 0;
        border-top: 2px solid black;
        color: black;
        padding: 3px;
    }

    .dropdown, .menutextlayout {
        display: none;
        list-style-type: none;
    }

    .logo {
        width: 13%;
        margin-bottom: -0.5%;
    }

    .navigation-container {
        width: 100%;
    }

    .navigation-items {
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        padding: 10px;
        background-color: rgb(96, 68, 57);
        border: 2px solid black;
    }

    .navigation-container a:hover {
        text-decoration: underline;
    }

    .navigation-items a {
        font-size: 20px;
        text-decoration: none;
        color: #e0e0e0;
    }

    .navigation-item {
        font-size: 20px;
        text-decoration: none;
        color: black;
    }

    .content-container {
        margin-top: 1%;
        margin-bottom: calc(27px + 1%);
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-content: center;
    }

    .content a {
        text-decoration: none;

    }

    .content a:hover {
        text-decoration: underline;
    }

    .content {
        display: flex;
        flex-direction: column;
        padding: 0 1% 0 1%;
        border: 2px solid black;
        margin: 0 15%;
        background-color: rgb(158, 154, 117);
    }

    .content form {
        width: 50%;
        margin-top: -10px;
        margin-bottom: 10px;
    }

    .content label, input {
        display: flex;
    }

    .content label {
        width: 20%;
        text-align: right;
    }

    .content label:hover {
        text-decoration: underline;
    }

    .content textarea {
        overflow: hidden;
        resize: none;
        margin-bottom: 10px;
    }

    .geslacht-container {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .content .geslacht {
        display: flex;
        flex-direction: row;
    }

    video {
        width: 90%;
        height: 60%;
        margin: auto;
    }

    button{
        background-color:  rgb(96, 68, 57);
        border:2px solid black;
        color: #e0e0e0;
        padding: 3px 5px;
    }
    table{
        margin-top: 5px;
        border-collapse:collapse;
    }
    table, th, td {
        text-align: left;
        border: 1px solid black;
    }
    .verhaal img{
        width:25%;
        float: left;
        padding-right: 10px;
    }

    .index-container{
        display: flex;
        flex-direction: column;
    }

    .index-item{
        display:flex;
        flex-direction:row;
    }

    .index-item img{
        margin:5px 10px;
        width:auto;
        height:400px;
    }

    .index-container h1{
        color:black;
        text-decoration: underline;
        margin:5px 10px;
    }

    .index-container {
        color:white;
    }

    .video-container{
        position: relative;
        width:100%;
        height:100%;
        overflow:hidden;
    }
    .video-container video{
        min-width: 100%;
        min-height:100%;
        position: relative;
        filter:grayscale(100%);
    }

    .overlay{
        height:99.5%;
        width:100%;
        position:absolute;
        top:0;
        left:0;
        z-index:2;
        background:black;
        opacity:0.75;
    }

    .index-text{
        height:99.5%;
        width:100%;
        position:absolute;
        top:0;
        left:0;
        z-index:3;
    }

    .index-text p{
        font-size:20px;
        margin:5% 20px;
        color:#e0e0e0;
    }

    .index-text h2{
        font-size:30px;
        margin:50px 20px;
        color:rgb(158, 154, 117);
    }
    .index-text a{
        color:indianred;
    }

    .abonnement-container{
        margin-top:-5px;
        width:100%;
        display:flex;
        flex-direction: row;
        justify-content: center;
        background-color:rgb(32, 32, 32);
    }

    .abonnement-container img{
        height:350px;
        margin:20px 30px;
    }
}

/* Smartphone only */
@media screen and (max-width: 1081px) {
    body {
        font-family: "Trebuchet MS", Helvetica, sans-serif
    }

    h4 {
        color: #e0e0e0;
        font-weight: lighter;
    }

    header {
        width: 100%;
        background-color: rgb(65, 83, 59);
        border-bottom: 2px solid black;
    }

    main {
        width: 100%;

    }

    footer {
        width: 100%;
        background-color: rgb(65, 83, 59);
        text-align: center;
        border-top: 2px solid black;
        color: black;
        padding: 3px;
    }

    .content-container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-content: center;
    }

    .content {
        display: flex;
        width:100%;
        flex-direction: column;
        padding: 0 1% 0 1%;
        background-color: rgb(158, 154, 117);
    }

    .navigation-items {
        display: none;
    }

    .logo {
        width: 25%;
        margin-bottom: -0.5%;
    }

    .menutextlayout {
        color: white;
        padding-left: 2px;
        font-size: 25px;
        border: 2px solid black;
        background-color: rgb(96, 68, 57);

    }

    .submenu {
        display: none;
    }

    .submenu li {
        list-style: none;
        border-bottom: 2px solid black;
        padding: 0 0 0 0;
        margin: 10px;

    }

    .submenu a {
        color: white;
        text-decoration: none;
    }

    .submenu a:hover {
        text-decoration: underline;
    }

    .navigation-container {
        width: 100%;
    }

    .navigation-items > li:last-of-type {
        margin-right: 0;
    }

    .dropdown:hover .submenu {
        display: flex;
        flex-direction: column;
        background: rgb(96, 68, 57);
        border: 2px solid black;
        border-radius: 5px;

        padding-top: 30px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

    }

    .dropdown {
        position: relative;
        list-style: none;
    }

    .dropdown > span {
        z-index: 2;
        position: relative; /* This is important! */
        cursor: pointer;
    }

    .dropdown:hover .menutextlayout {
        border: none;
        padding-left: 2px;
    }

    .content form {
        margin-left: 20px;
        font-size: 17px;
        width: 100%;
        margin-top: -25px;
        margin-bottom: 10px;
    }

    .content label, input {
        display: flex;
    }

    .content input {
        font-size: 17px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .content input[type='radio'] {
        transform: scale(1.5);
    }

    .content label {
        margin-top:5px;
        width: 15%;
        text-align: right;
    }

    .content textarea {
        overflow: hidden;
        resize: none;
        margin-bottom: 10px;
    }

    .content p{
        font-size:15px
    }

    .geslacht-container {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .content .geslacht {
        display: flex;
        flex-direction: row;
    }

    video {
        width: 300px;
        height: 200px;
        margin: auto;
    }

    button{
        background-color:  rgb(96, 68, 57);
        border:2px solid black;
        color: #e0e0e0;
        padding: 3px 5px;
        font-size:14px;
    }
    table{
        border-collapse:collapse;
    }
    table, th, td {
        border: 1px solid black;
    }
    .verhaal img {
        width: 30%;
        float: left;
        padding-right: 10px;
    }
    .verhaal{
        width:100%;
    }

    .index-container{
        display: flex;
        flex-direction: column;
    }

    .index-item{
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
    }

    .index-item img {
        width:auto;
        height:235px;
        margin:10px auto;
    }

    .index-item a{
        margin:0 auto;
    }

    .index-container h1{
        font-size:20px;
        color:black;
        text-decoration: underline;
        margin:5px 10px;
    }

    .index-container {
        padding: 0 1% 0 1%;
        border: 2px solid black;
        background-color: rgb(158, 154, 117);
        color:white;
    }

    .video-container video{
       display:none;
    }

    .index-text p{
        font-size:15px;
        margin:5px 5px;
        color:black;
    }

    .index-text h2{
        font-size:15px;
        margin:5px 5px;
        color:black;
    }
    .index-text a{
        color:black;
    }
}