*{
    margin:0;
    padding:0;
}
/* Desktop only */
@media screen and (min-width: 768px){
    body{
        font-family: "Trebuchet MS", Helvetica, sans-serif;
    }

    header{
        padding-top:3px;
        width: 100%;
        background-color: rgb(65,83,59);
        text-align:center;
        border-bottom:2px solid black;
    }

    footer{
        width: 100%;
        background-color:rgb(65,83,59);
        text-align:center;
        position:fixed;
        bottom:0;
        left:0;
        border-top:2px solid black;
        color: black;
        padding:3px;
    }

    .logo {
        width: 13%;
        margin-bottom:-0.5%;
    }
    .navigation-container{
        width:100%;
    }
    .navigation-items{
        display:flex;
        list-style-type: none;
        justify-content: space-around;
        padding:10px;
        background-color: rgb(96,68,57);
        border: 2px solid black;
    }

    .navigation-container a:hover{
        text-decoration: underline;
    }

    .navigation-items a{
        font-size: 20px;
        text-decoration: none;
        color: black;
    }

    .navigation-item{

        font-size: 20px;
        text-decoration: none;
        color: black;
    }

    .content-container{
        margin-top: 1%;
        display:flex;
        justify-content: center;
        flex-direction:row;
        align-content: center;
    }

    .content{
        display:flex;
        flex-direction: column;
        padding: 0 1% 0 1%;
        border: 2px solid black;
        margin: 0 15%;
        background-color: rgb(158,154,117);
    }

}
/* Smartphone only */
@media screen and (max-width: 768px){
    body{
        font-family: "Trebuchet MS", Helvetica, sans-serif
    }

    header{
        width: 100%;
        background-color: rgb(65,83,59);
        text-align:center;
        border-bottom:2px solid black;
    }

    main{
        width:100%;
        margin: 10px;
    }

    footer{
        width: 100%;
        background-color:rgb(65,83,59);
        text-align:center;
        border-top:2px solid black;
        color: black;
        padding:3px;
    }

    .logo {
        width: 25%;
        margin-bottom:-0.5%;
    }
    .navigation-container{
        width:100%;
    }
    .navigation-items{
        display:flex;
        list-style-type: none;
        justify-content: space-around;
        padding:10px;
        background-color:rgb(96,68,57);
        border: 2px solid black;
        font-size: 20px;
        text-decoration: none;
        color: black;
    }
    .navigation-container a:hover{
        text-decoration: underline;
    }


    .navigation-items a{
        font-size: 20px;
        text-decoration: none;
        color: black;
    }

    .content-container{
        display:flex;
        justify-content: space-between;
        flex-direction:row;
        align-content: center;
    }

    .content{
        display:flex;
        flex-direction: column;
        padding: 0 1% 0 1%;
        border: 2px solid black;
        margin: 0 10%;
        background-color: rgb(158,154,117);
    }

}




