*{
    margin:0;
    padding:0;
}
/* Desktop only */
@media screen and (min-width: 768px){

    header{
        padding-top:3px;
        width: 100%;
        background-color:#894204;
        text-align:center;
        border-bottom:2px solid black;
    }

    footer{
        width: 100%;
        background-color:#dd9c63;
        text-align:center;
        position:fixed;
        bottom:0;
        left:0;
        border-top:2px solid black;
        color: black;
        padding:3px;
    }

    .logo {
        width: 13%;
        border-radius:10px;
    }
    .navigation-container{
        width:100%;
    }
    .navigation-items{
        display:flex;
        list-style-type: none;
        justify-content: space-around;
        padding:10px;
        background-color:#f4a55f;
        border: 2px solid black;
    }
    .navigation-container a:hover{
        background-color: #894204;
    }


    .navigation-item{

        font-size: 20px;
        text-decoration: none;
        color: black;
    }

}
/* Smartphone only */
@media screen and (max-width: 768px){

    header{
        width: 100%;
        background-color:#894204;
        text-align:center;
        border-bottom:2px solid black;
    }

    main{
        width:100%;
        margin: 10px;
    }

    footer{
        width: 100%;
        background-color:#dd9c63;
        text-align:center;
        border-top:2px solid black;
        color: black;
        padding:3px;
    }

    .logo {
        width: 25%;
        border-radius:10px;
    }
    .navigation-container{
        width:100%;
    }
    .navigation-items{
        display:flex;
        list-style-type: none;
        justify-content: space-around;
        padding:10px;
        background-color:#f4a55f;
        border: 2px solid black;
        font-size: 20px;
        text-decoration: none;
        color: black;
    }
    .navigation-container a:hover{
        background-color: #894204;
    }


    .navigation-items a{
        font-size: 20px;
        text-decoration: none;
        color: black;
    }
}




